body {
    width: 850px;
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    width: 850px;
    background-color: crimson;
    color: #fff;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    margin: 10px;
    display: flex;
}

.nav-links {
    list-style-type: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
    padding: 2px;
}

.nav-links li a {
    text-decoration: none;
    transition: color 0.3s ease;
    color: #fff;
}

.nav-links li a:hover {
    color:black;
}